<meta property="og:locale" content="es_ES">
<meta property="og:type" content="website">
<meta property="og:site_name" content="Krown Design Studio">
<meta property="og:title" content="Home | Krown Design Studio">
<meta property="og:description" content="Tech and Design studio. Branding / Packaging / UIUX /Development Mexico based">
<meta property="og:url" content="https://krown.one">
<meta property="og:image" content="https://krown.one/assets/img/social.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:secure_url" content="https://krown.one/assets/img/social.jpg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="600">

<link itemprop="thumbnailUrl" href="https://krown.one/assets/img/social.jpg">
<span itemprop="thumbnail" itemscope itemtype="http://schema.org/ImageObject">
  <link itemprop="url" href="https://krown.one/assets/img/social.jpg">
</span>