$_primary-blue: #3c55ff;
$_primary-gray: #787676;
$_primary-grayLight: #b1b1b1;
$_primary-grayLighter: #efefef;
$_primary-white: #fff;
$_secondary-violet: #55164f;

$_hover-blue: rgb(60 85 255 / 70%);
$_hover-white: rgb(255 255 255 / 70%);
$_error: #f83d32;

// Brand
$brand: $_primary-blue;
// Background
$bg-primary: $_primary-blue;
// Text
$text: $_primary-gray;
$text-primary: $_primary-blue;
$text-secondary: $_primary-gray;

// Selecction
$select-text: $_primary-blue;
$select-bg: $_secondary-violet;

// Tools
$white: $_primary-white;
$error: $_error;