// [Container]
$max-width-lg: 90rem;
$max-width-md: 70rem;

// [Spacing]
$section-sm: 1rem;
$section: 1.6rem;
$section-lg: 3.25rem;

// [Padding]
$padding-sm: 1.5em;
$padding-md: 2em;

// [Margin]
$margin-top-p: .5em;
$margin-top-h: .5em;
