
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{>partials/favicon}}
  {{>partials/seo}}
  {{>partials/seo-social}}
  <title>Template | Webpack</title>
  <style>
    input{display: block;}
  </style>
</head>
<body>
  <header>
    <div class="container">
      <label for="themeSelector" class="is-sr-only">Tema:</label>
        <select id="themeSelector" class="a-select">
          <option value="default">Por defecto</option>
          <option value="light">Claro</option>
          <option value="dark">Oscuro</option>
      </select>
    </div>
  </header>

  {{!-- [img] --}}
  <section class="section">
    <div class="container">
      {{>partials/logo}}
    </div>
    <hr>
  </section>

  {{!-- [H] --}}
  <section class="section">
    <div class="container">
      <h1>Title h1</h1>
      <h2>Title h2</h2>
      <h3>Title h3</h3>
    </div>
    <hr>
  </section>

  {{!-- Text --}}
  <section class="section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
    </div>
    <hr>
  </section>

  {{!-- Form --}}
  <section class="section">
    <div class="container">
      <label for="text">Text</label>
      <input type="text" id="text" value="im a text">
      
      <label for="password">password</label>
      <input type="password" id="password" value="im a password">

      <label for="search">search</label>
      <input type="search" id="search" value="im a search">

      <label for="tel">tel</label>
      <input type="tel" id="tel" value="im a tel">

      <label for="time">time</label>
      <input type="time" id="time" value="im a time">

      <label for="url">url</label>
      <input type="url" id="url" value="im a url">

      <label for="week">week</label>
      <input type="week" id="week" value="im a week">
      
      <label for="date">date</label>
      <input type="date" id="date" >


      <label for="color">color</label>
      <input type="color" id="color">

      <label for="checkbox">checkbox</label>
      <input type="checkbox" id="checkbox">

      <label for="radio">radio</label>
      <input type="radio" id="radio">

      <label for="range">range</label>
      <input type="range" id="range">

      <label for="textarea">textarea</label>
      <textarea name="textarea" id="textarea"></textarea>
    </div>
    <hr>
  </section>

  {{!-- Buttoms --}}
  <section class="section">
    <div class="container">
      <a href="#">Link</a>
      <button>Buttom</button>
    </div>
    <hr>
  </section>

  {{!-- Icons --}}
  <section class="section">
    <div class="container">
      <i class="fa-brands fa-square-behance"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-docker"></i>
    </div>
    <hr>
  </section>

  {{!-- video --}}
  <section class="section">
    <div class="container">
      <p>Add "js-video-player" class to video</p>
      <video class="js-video-player" width="463" muted loop controls>
        <source data-src="/assets/video/video.mp4" type="video/mp4" />
        Sorry, your browser does not support embedded videos.
      </video>
    </div>
    <hr>
  </section>

  {{!-- video youtube --}}
  <section class="section">
    <div class="container">
      <p>Add "js-youtube-player" class to video</p>
      <div class="js-youtube-player" data-id="CsGauHXioos"></div>
    </div>
    <hr>
  </section>
  

  {{!-- Text --}}
  <section class="section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
    </div>
    <hr>
  </section>

  {{!-- Text --}}
  <section class="section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
    </div>
    <hr>
  </section>

  {{!-- video youtube --}}
  <section class="section">
    <div class="container">
      <p>Add "js-youtube-player" class to video</p>
      <div class="js-youtube-player" data-id="uAOR6ib95kQ"></div>
    </div>
    <hr>
  </section>

  {{!-- Text --}}
  <section class="section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
    </div>
    <hr>
  </section>

  {{!-- Text --}}
  <section class="section">
    <div class="container">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet obcaecati tenetur, commodi consectetur temporibus neque inventore voluptates dolorum rem molestias, nesciunt dolores ut eius minus corporis ipsa cumque necessitatibus molestiae.
      </p>
    </div>
    <hr>
  </section>
</body>
</html>